{% extends "layout.html" %}
{% block content %}

<script src='/static/LoHi.js' defer></script> 
<script src='/static/dist_matrice_anim.js' defer></script> 


<div  id='stat_table'>
<h3>Matrice de distances (construite avec les fichiers LoHi)</h3>
<input id="namef" name="text"  placeholder='nom du fichier'>
<input style='width:50px' title="Enregistrer la matrice" type="submit" value="CSV" onclick="exportTableToCSV()" >
<input style='width:50px' title="Enregistrer l'arbre phylogénétique associé" type="submit" value="NWK" onclick='downloadNewick({{tree|tojson}})' >
</div>

<div id='innerdiv'>
<p>{{ df | safe  }}</p>
</div>



<div id='stat_table'>
<h3>Minimum spanning tree</h3>
<input id="namemst" name="text"  placeholder='nom du fichier'> <input style='width:50px' title="Enregistrer le mst au format PNG" type="submit" value="MST" onclick='downloadMST({{ f|tojson }})' >
</div>
 
 <div id='innerdiv'>
<img rel="icon" type="image/png" src={{ f }} style="width:1300px" >
</div>
{% endblock %}
