{% extends "layout.html" %}
{% block content %}
<script src='/static/new_analyse.js' defer></script> 
<div style='margin-left:30px;margin-top:25px'>
<h1 style='font-style:italic;'>TBtr<span class='special-style'>app</span></h1>


<div id='acceuil'>
<ul id='acceuil'>
    <a  href="{{url_for('analyse_list', val='SNP_hi')}}" id='acceuil' title='Liste des analyses '><img rel="icon "   type="image/png" src="/static/images/order.png" style="height:90px;padding:10px;display:table;margin:0px auto;margin-top:25px" ></a>
    <a  href="{{url_for('analyse_Hi_align', val='SNP_hi')}}" id='acceuil' title='Page de sélection des analyses'><img rel="icon "   type="image/png" src="/static/images/play-button.png" style="height:90px;padding:10px;display:table;margin:0px auto;margin-top:25px" ></a>
    <a onclick='new_A()'  id='acceuil' title='Mise à jour de la base de données'><img rel="icon "   type="image/png" src="/static/images/database.png" style="height:90px;padding:10px;display:table;margin:0px auto;margin-top:25px" ></a>
    
</ul>
</div>

<div  id='acceuil'>
	<p style='font-weight:bold;padding:5px;padding-left:20px'>À propos de TBtrapp</p>
<p style='padding:5px;text-indent:25px;padding-left:20px'>TBtrapp est une application web permettant l'alignement multiples de souches de <span style='font-style:italic'>Mycobacterium tuberculosis</span> (MTB). L'application intègre une base de données des analyses produites par le pipeline de détection de variants du laboratoire "DIANA". TBtrapp permet de créer des matrices de distances (nombre de SNPs), des fichiers de séquences artificielles au format fasta (concaténation des SNPs) et construire des représentations en Minimum Spanning Tree. Elle a été développée dans le but de détecter des transmissions potentielles entre individus de souche de MTB sans a priori épidémiologique. Pour plus d'informations, se référer à la <a href='#' style='text-decoration:underline;' onclick=" window.open('/static/images/documentation_v180427.pdf','_blank', 'fullscreen=yes'); return false;" >documentation</a>.</p>
</div>
</div>
{% endblock %}
